name: Continuos Integration

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [
          "3.7",
          "3.8",
          "3.9",
          "3.10",
          "pypy-3.7",
          "pypy-3.8"
        ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"

      - name: Install Python dependencies
        run: |
          pipx install poetry
          poetry install --no-root

      - name: Python linter
        run: poetry run prospector .

      - name: Code format
        run: |
          poetry run isort --check --diff .
          poetry run black --check --diff .
          poetry run ec -verbose

      - name: Security vulnerability scan
        run: |
          poetry run bandit --recursive scripts
          poetry run safety check --file requirements/dev.txt --full-report

      - name: Test documentation
        run: |
          poetry run sphinx-apidoc -M -P -o docs/modules example
          poetry run sphinx-build -W -T -v -n docs public
